# =====================
# Global
# =====================
.DS_Store
node_modules/
target/
dist/
build/

# =====================
# IDEs
# =====================
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# =====================
# Java / Spring
# =====================
**/target/
**/*.log

# =====================
# Env & Secrets
# =====================
.env
*.env
application.yml
application-backup.yml

# Allow samples
!application-sample.yml
!.env.example

# Uploaded files
uploads/